body {
    /*How to change the font and add new font style*/
margin:0;
font-family:Arial, Helvetica, sans-serif;
font-size: 18px;
}

p{
  line-height: 1.6;
}
/*Navbar should be fixed at the top*/

#navbar {
    position: fixed;
    top: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 124px;
    box-sizing:border-box;
    z-index:1;
    border-bottom: 1px solid gray;

}
#align {
  max-width:936px;
  height: 124px;
  margin:0 auto;
}
/*Logo at left side with different font-size and family*/

#logo {
    font-size: 48px;
    color: green;
    font-family:'Lobster', cursive,serif;
float:left;
}
/*ul at right side */

ul{
    float: right;
}

/*adding padding and margins inside the links in navbar*/

.navlinks{
    padding: 0 10px;
    margin-top: 50px;
   
}

/*changing color and removing bullet and underline on texts*/

#navbar a {
 color: black;
 text-decoration: none;
 list-style-type: none;
 float: right;
}

/*Hero-image*/
/*hero-image should be in full width and the text should be inside it.*/

#landing_image {
 
  position: relative;
    display: block;

    overflow: hidden;
    margin-top:124px;

    
}

#hero_image{
  display: block;
    width: 100%;
    height: 720px;
    position: relative;
    object-fit: cover;

}

.landing_container{
  height: 400px;
  width: 80%;
  position: absolute;

  top: 252px;
  margin-left: 480px;
  display: block;

}

#landing_image h2 {
 font-size: 48px;
margin-top: 0;
}

#landing_image p {

   width: 600px;
   }


  .submit {
    background-color: #F5CC42;
    border: none;
    height: 48px;
    width: 221px;
    font-size: 1rem;
    font-weight: bold;
  }


  /*Sign-up*/

  #sign_up {
    margin: 50px auto 50px;
    width: 940px;

  }
  #sign_up h2, #sign_up p {
    text-align: center;
    margin: 50px auto;
  
  }

  .center {
    display: block;
    margin: 20px auto; 

  }

/*Gallery using flexbox*/

#recipe {
  background-color: #363530;
max-width: 938px;
  height: auto;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
}

#recipe h2{
  text-align: center;
  color: white;
  position: relative;
  top:-50px;
  margin-bottom: 0;
}

.line{
  border-top: 1px solid white;
  margin-top: 0;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 66px;
  max-width: 780px;
  margin: 50px auto 0;
}

.gallery img {
  width: 216px;
  height: auto;
  object-fit: cover;
  
}


.gallery::after {
  content: "";
  width: 350px;
}

/*Blogs shoud be 3 side by side container using float */
#blogs {
  margin: 50px auto;
  max-width: 938px;
  display: flex;
 justify-content: space-evenly;
 gap: 24px;
 overflow: hidden;
}

.container{
  max-width: 300px;
}

.container img{
  object-fit: cover;
}

.container h3, .container p {
   text-align: center;
   padding: 0 10px;
}

/*wrapper*/
.wrapper {
  display: flex;
  gap:10px;
  justify-content: center;
}


/*For nutrition label container should be on left side */
#nutrition_label {
  font-size: 12px;
  max-width: 460px;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 20px;
  float: left;

}


/* containers*/
.label_section1 h1{
  text-align: center;
  margin: 10px 0;
}
 
#nutrition_label p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.label_section2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.label_section2 h4 {
  margin: 0;
}

.container_left p{
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}

.label_section2 span{
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}


.indent {
  margin-left: 1em;
}

.right {
  justify-content: flex-end;
}

/* font-weights and size*/
.bold {
  font-weight: 800;
}

.small-text {
  font-size: 0.85rem;
}

/* dividers*/
.divider {
  border-bottom: 1px solid gray;
  margin: 2px 0;
}

.large {
  height: 10px;
}
.medium {
  height: 5px;
}
.large, .medium {
  background-color: black;
  border: 0;
}



.label_section3 p:not(.no-divider){
  border-bottom: 1px solid gray;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
}

/* nutrition quiz*/

#nutrition_quiz{
  float: right;
  max-width: 460px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  font-size: 24px;
  margin-left: 10px;
}


#nutrition_quiz h3{
 margin-top:0;
 font-size: 48px;
 margin-bottom: 20px;
}

.quiz {
  text-align: left;
  border: none;
  width: 400px;
  padding-left: 0;
 
  
}
.options {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}

.quiz legend{
  max-width: 480px;
}

.options input[type=radio]{
  display: inline-block;

}

.options li{
  width: 100vw;
}

#buy_again{
  display: block;
  width: 380px;
  height: 40px;
  margin: 10px 0;
}

.text-area {
  width: 380px;
  height: 100px;
  margin: 10px 0;
}

textarea {
  width: 380px;
  height: 80px;
  padding: 5px;
}
/*Footer*/

footer {
  clear: both;
  margin-bottom: 0;
  margin-top: 50px;
  background-color: #363530;
  padding-top: 10px;
  padding-bottom: 5px;
}


footer > p, footer > h4 {
text-align: center;
font-size: 18px;
margin: 10px;
color: white;
}

.icons{
  width: 50px;
  height: auto;
  padding: 0 10px 5px;
}

.soc_med {
  text-align: center;
  padding: 0 5px;
}
/*Registration Form*/
#reg-form{
  display: none;
}
/*responsiveness*/
@media screen and (max-width: 600px){
 body {
  overflow: hidden;
 }
 #navbar {
  margin:0;
  padding: 0;
 }

  #logo{
    position: relative;
    display: block;
    font-size: 2em;
  }
  #navbar > a {
    display: none;
  }

  #landing_image {
    display: block;
    height: 500px;
    
}

#hero_image{
    width: auto;
    height: 80%;
    position: relative;
   
}



}